---
layout: default
title: Baker of Brighton
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
    	{% if post.thumbnail %}
      	<li>
      		<a href="{{ post.url }}">
      			<figure>
      				<img src="images{{post.thumbnail}}" alt="{{ post.title }} - Photo">
		      		<figcaption>
			      		{{ post.date | date_to_string }}
			      		<span>{{ post.title }}</span>
		      		</figcaption>
      			</figure>
      		</a>
      	</li>
      	{% endif %}
    {% endfor %}
  </ul>
</div>